#!/bin/bash

MY_INSTANCE_ID=$(curl -s http://169.254.169.254/latest/meta-data/instance-id)
REGION=$(curl -s http://169.254.169.254/latest/dynamic/instance-identity/document | grep region | sed 's/  "region" : "\(.*\)",\?/\1/')
ASG_NAME=$(aws autoscaling describe-auto-scaling-instances --region "$REGION" --instance "$MY_INSTANCE_ID" --query 'AutoScalingInstances[0].AutoScalingGroupName' --output text)

echo "MY instance id: ${MY_INSTANCE_ID}"
echo "REGION ${REGION}"
echo "ASG NAME ${ASG_NAME}"

ASG_INSTANCE_IDS=$(aws autoscaling describe-auto-scaling-groups --region "${REGION}" --auto-scaling-group-name "${ASG_NAME}" --query "AutoScalingGroups[0].Instances[].InstanceId" --output text)


ASG_INSTANCE_IPS=()
# Get private ip of each consul instance
for ASG_INSTANCE in ${ASG_INSTANCE_IDS[@]};
do
  echo ${ASG_INSTANCE}
  IP=$(aws ec2 describe-instances --region "${REGION}" --instance "${ASG_INSTANCE}" --query 'Reservations[].Instances[].PrivateIpAddress' --output text)
  echo "ip ${IP}"
  ASG_INSTANCE_IPS+=("${IP}")
done

echo ${ASG_INSTANCE_IPS[@]}
# Inject correct ips of consul servers
cat /root/consul_asg/consul.json | jq ".retry_join += [\"${CONSUL_INSTANCE_IP}\"]" > /root/consul_asg/consul-new.json
